.header{
    font-family:Helvetica;
    font-size:100px;
    font-weight:bold;
    color:khaki;
    text-align:center;
    background-image: url("pattern.jpg");
    padding: 10px; 
}
h3{
    font-family:Helvetica;
    font-size:32px;
    font-weight:bold;
    color:white;
    
    
}
.price{
    font-family:Helvetica;
    color:blue;
    font-weight:bold;
   
}
#header2{
    background-color:mediumspringgreen;
}
#header3{
    background-color:lightcoral;
    
}
#header4{
    background-color:skyblue;
    
}